
 <div>
    <h1>{{name}}</h1>
</div>
<ul>
    {{#each users}} 
        <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>
        {{#each friends}}
            <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>
            {{#each groups}}
                    <li> {{id}} /{{name}} /{{description}}</li>
                    {{#each members}}
                    <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>
                    {{/each}}   
                {{/each}} 
            {{#each mutual_friends}}
                    <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>
                    {{#each mutual_friends}}
                        <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>
                    {{/each}}
                
            {{/each}}
        {{/each}}
        {{#each groups}}
            <li> {{id}} /{{name}} /{{description}}</li>
                {{#each members}}
                <li> {{id}} /{{name}} /{{gender}} /{{age}}</li>   
            {{/each}}
        {{/each}}        
    {{/each}}            
</ul>


           
                
        
   
