<main>
    <div class="row">
        <div class="col-8">
               <div class="card">
                <div class="card-body">
                    {{#with navigation}}
                            {{#each links}}
                                <button href="{{href}}" class="btn btn-link">{{text}}</button>
                            {{/each}}
                    {{/with}}
                </div>
            </div>
            <h1>{{ header}}</h1>
            {{#with contacts_data}}
            <h5>{{title}}</h5>
                {{#each buttons}}
                    {{#if isOutline}}<button class="btn btn-outline-warning">{{text}}</button>{{/if}}
                    {{#if isPrimary}}<button class="btn btn-warning">{{text}}</button>{{/if}}
                {{/each}}
                {{#with form}}
                    {{#with input}}
                        <div class="row row-cols-2">
                            <div class="col-4">
                                {{#with surname}}
                                    <label class="form-label">{{label}}</label>
                                    <input type="text" placeholder="Іванов"class="form-control">
                                    <div class="form-text">{{caption}}</div>
                            
                                {{/with}}
                            </div> 
                            <div class="col-4">
                                {{#with name}}
                                    <label class="form-label">{{label}}</label>
                                    <input type="text" placeholder="Іван"class="form-control">
                                    <div class="form-text">{{caption}}</div>           
                                {{/with}}
                            </div>    
                        </div>
                        <div class="row row-cols-2">
                            <div class="col-4">
                                {{#with phone}}
                                    <label class="form-label">{{label}}</label>
                                    <input type="text" placeholder="+38 (XXX) XXX XX XX"class="form-control">
                                    <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div> 
                            <div class="col-4">
                                {{#with email}}
                                    <label class="form-label">{{label}}</label>
                                    <input type="text" placeholder="ivanivanov@ukr.net"class="form-control">
                                    <div class="form-text">{{caption}}</div>           
                                {{/with}}
                            </div>    
                        </div>        
                    {{/with}} 
                    <hr>
                    {{#each switch}}
                        <div class="col">
                            <div class="form-check form-switch">
                                <label class="form-check-label">{{text}}</label>
                                <input type="checkbox" class="form-check-input">
                                {{#if isActive}}<input type="checkbox" class="form-check-input"id="flexSwitchCheckChecked" checked>{{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                    
                {{/with}}
            {{/with}}
            

                <div class="row">
                    
                        <div class="card col-4">
                            {{!-- <div class="col-6 "> --}}
                        <div class="card-body ">
                            
                            {{#each action_block}}
                            <ul>
                                {{#if isSuccess}}<button class="btn btn-success mb-1">{{text}}</button>{{/if}}
                                {{#if isDanger}}<button class="btn btn-danger mb-1">{{text}}</button>{{/if}}
                                {{#if isInfo}}<button class="btn btn-info mb-1">{{text}}</button>{{/if}}
                                </ul>
                            {{/each}}
                            
                        </div>
                        </div>
                    <div class="row">
                        <div class="card col-4">
                            <div class="card-body">
                                {{#with total}}
                                    <div class="card-title">{{title}}</div>
                                    {{#each item_list}}
                                    <div>{{name}} : {{price}}</div>
                                    {{/each}}
                                    <hr>
                                    {{#each additional_info}}
                                    <div>{{text}} : {{value}}</div>
                                    {{/each}}
                                    <hr>
                                    {{#with total_price}}
                                    <div>{{text}} : {{value}}</div>
                                    {{/with}}
                                    <hr>
                                    {{#each button}}
                                    {{#if isPrimary}}<button class="btn btn-primary">{{text}}</button>{{/if}}
                                    {{#if isOutline}}<button class="btn btn-outline-primary mt-2">{{text}}</button>{{/if}}
                                    {{/each}}
                                {{/with}}
                            </div>
                        </div>
                    </div>
                     </div>
                    <hr>
                     <div class="row ">
                            <div class="col-8">
                    {{#with delivery}}
                    <h5>{{title}}</h5>
                    <div class="card ">
                                                    
                        
                        {{!-- <div class="  col-8"> --}}
                            {{#each select}}
                            <div c>
                            <div class="col-6">
                             <div class="form-label">{{label}}</div>

                                <select class="form-select" aria-label="Default select example">
                                <option selected>{{placeholder}}</option>
                                {{#each options}}
                                <option value >{{text}}</option>
                                
                            
                            {{/each}}
                                </select>
                            
                            </div>
                            </div>
                            {{/each}}
                            
                            {{/with}}
                            </div>
                            </div>
                            
                        </div>
                    </div>






                       
                    </div>
                </div>
                <div>
                    <div>
                        
                    </div>
                </div>
                   
        </div>
    </div>
</main>