<main class="p-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body"> 
                    {{#with navigation}}
                        {{#each links}}
                        <button href="{{href}}" class="btn btn-link">{{text}}</button>
                        {{/each}}
                    {{/with}}
                        <a href="#" class="btn btn-link disabled">Link</a>
                        
        </div>
    </div>
    
            <div class="row g-5">
                <div class="col-6">
                    {{#with newsBlock}}
                        <div>{{title}}</div>
                        {{!-- <div class="col-10">  --}}
                            {{#each cards}}
                                <div class="card">
                                    <div class="card-body">{{title}}</div>
                                    {{#if isTop isTop=true}}
                                        <button class="rounded-pill btn btn-primary">{{isTop}}</button>
                                        {{else}}
                                    {{/if}}
                                    {{#if isNew isNew=true}}
                                        <button class="rounded-pill btn btn-success">{{isNew}}</button>
                                    {{else}}
                                    {{/if}}
                                        <div class="card-body">{{description}}</div>
                                </div>       
                            {{/each}}
                        {{!-- </div> --}}
                    {{/with}} 
                </div>
            </div>
           
                            
                <hr>
                <div>
                    {{#with goodsBlock}}
                        {{#each tabs}}       
                            <div class="nav nav-tabs">
                                <div class="nav-item">  
                                    {{#if isActive isActive=true}}
                                        <a class="nav-link active">{{text}}</a>
                                        {{else}}
                                        <a class="nav-link">{{text}}</a>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}        
                        {{#each cards}}
                            <div class="card">
                                <img src="https://picsum.photos/400/200" class="card-img-top" alt="Product Photo">
                                <div class="card-body">
                                    <h5 class="card-title">{{title}}</h5>
                                    {{#if isHot isHot=true}}
                                        <button class="rounded-pill btn btn-warning">HOT!</button>
                                        {{else}}
                                    {{/if}}
                                    {{#if isNew isNew=true}}
                                        <button class="rounded-pill btn btn-primary">NEW</button>
                                        {{else}}
                                    {{/if}}
                                    <div>{{description}}</div>
                                </div>
                            </div>
                        {{/each}}
                    {{/with}}
                </div>
                <div>
                    {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <button href="{{link}}" class="btn btn-primary">{{text}}</button>
                    {{/each}}
                    {{/with}}
                </div>
                <hr>
                <div class="text-center">
                    {{#with service}}
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                        <button href="{{link}}" class="btn btn-primary">{{text}}</button>
                    {{/each}}
                    {{/with}} 
                </div>
                <hr>
                <footer>
                    <div>
                        {{#each footer}}    
                        <div>
                            <ul>
                                <li>{{text}}</li>
                                <li>{{link}}</li>
                            </ul>
                    </div>

                        {{!-- </div>
                        
                        <a href="#" class="btn btn-link primary">{{text}}</a> --}}
                        
                        {{/each}} 
                 </footer>         
        </div>
    </div>
               
</main>
        


        
       
    

