<main>
    <div class='card'>
            <div class='card-body'>
            {{#with navigation}}
                {{#each links}}
                <a href='{{href}}'class='btn btn-link'>{{text}}</a>
                {{/each}}
            {{/with}}
            </div>
    </div>
    <div>
        {{#with header}}
        <h1 class='mt-5'>{{title}}</h1>
        {{#with button}}
            <button class='btn btn-outline-secondary my-3'>{{text}}</button>
        {{/with}}
        {{/with}}
    </div>
    <hr />
    
        {{#each goodsBlock}}
            <div class="card my-3" >
                <div class="row">
                    <div class="col-2">
                        <img src='{{image}}' alt='{{name}}' />
                        </div> 
                        <div class="col-4">  
                            <h5>{{name}}</h5>
                            <p>{{description}}</p>
                        </div>
                        <div class="col-2">
                            {{#with price}}
                                <p>{{title}}</p>
                                <p>{{value}}</p>
                            {{/with}}
                        </div>
                        <div class="col-2">
                            <p>{{amount}}</p>
                        </div>
                        <div class="col-2">
                            {{#each buttons}}
                            {{#if isPrimary}}<button class="btn btn-primary  mt-3 mb-2">{{text}}</button>{{/if}}
                            {{#if isDanger}}<button class="btn btn-outline-danger ">{{text}}</button>{{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>        
            </div>
        {{/each}}
        <hr>
        {{#with total}}
          <h2 class="mt-3">{{title}}</h2>
          <h1>{{amount}}</h1>
          <p>{{delivery}}</p>
            {{#each buttons}}
               {{#if isSuccess}}<a class="btn btn-success">{{text}}</a>{{/if}}
               <br>
               {{#if isOutline}}<a href="{{link}}" class="btn btn-outline-success">{{text}}</a>{{/if}}
            {{/each}}
        {{/with}}
        <hr>
        <div class="row">
            {{#with goodsOtherBlock}}
                <h5 class="text-center">{{title}}</h5>
                {{#each cards}}
                    
                        <div class="col-4">
                            <div class="card ">
                                <div class="card-body">
                            
                            
                                <img src="{{image}}" alt="text" width="150" heigth="200">
                            
                                    <h2 class="card-title">{{title}}</h2>
                                    {{#if isHot}}<button class="rounded-pill btn btn-danger">Hot!</button>{{/if}}
                                    {{#if idNew}}<button>New</button>{{/if}}
                                    <p>{{description}}</p>
                                </div>
                            </div>
                        </div>
                
                {{/each}}
            {{/with}}
        </div> 
        <hr>
        <div class="card">
            <div class="card-body text-bg-dark">
                {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    
                    {{#each buttons}}
                        <div class="mb-2">
                            <a href="link" class="btn btn-primary">{{text}} </a>
                        </div>
                    {{/each}}
                {{/with}}
            </div>
        </div>
        <hr>
        <div class="row">
            {{#each footer}}
                {{#with this}}
                    <div class=" nav col-2 pm-1">
                        <table class="col-1">
                            <tbody><tr>
                                <td><a href={{[0].link}} class="nav-link">{{[0].text}}</a></td></tr>
                                <td><a href={{[1].link}} class="nav-link">Link</a></td></tr>
                                <td><a href={{[2].link}} class="nav-link">Link</a></td></tr>
                                <td><a href={{[3].link}} class="nav-link disabled">{{[0].text}}</a></td></tr>
                            </tbody>
                        </table>
                    </div>
                {{/with}}
            {{/each}}
        </div>
    

</main>