<main class="p-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body"> 
                    {{#with navigation}}
                        {{#each links}}
                        <button href="{{href}}" class="btn btn-link">{{text}}</button>
                        {{/each}}
                    {{/with}}
                        <a href="#" class="btn btn-link disabled">Link</a>
                        
        </div>
    </div>
    <br>
            
            {{#with newsBlock}}
                <h5 class="text-center">{{title}}</h5>
                <div class="row">
    <br>                
                            {{#each cards}}
                            <div class="col-3">
                                <div class="card mb-2 m-2">
                                    <div class="card-header">{{title}}
                                        {{#if isTop isTop=true}}
                                            <button class="rounded-pill btn btn-sm btn-primary">{{isTop}}</button>
                                            {{else}}
                                        {{/if}}
                                        {{#if isNew isNew=true}}
                                            <button class="rounded-pill btn btn-sm btn-success">{{isNew}}</button>
                                        {{else}}
                                        {{/if}}
                                    </div>
                                    <div class="card-body">{{description}}</div>
                                </div> 
                            </div>      
                            {{/each}}
                </div>                      
                    {{/with}} 

           
                            
                <hr>
                <div>
                    {{#with goodsBlock}}
                    <ul class="nav nav-tabs">
                        {{#each tabs}}       
                            
                                <li class="nav-item"> 
                                        <a class="nav-link">{{text}}</a>
                                     </li>
                                       
                                        {{#if isActive}}<a class="nav-link active">{{text}}</a>{{/if}}
                                        {{#if isDisabled}}<a class="nav-link disabled">{{text}}</a>{{/if}}
                                 {{/each}} 
                            </ul>
                        
                    <div class="row">         
                        {{#each cards}}
                            <div class="card col-3 mt-3 me-5">
                                <img src="https://picsum.photos/400/200" class="card-img-top" alt="Product Photo">
                                <div class="card-body">
                                    <h5 class="card-title">{{title}}</h5>
                                    {{#if isHot isHot=true}}
                                        <button class="rounded-pill btn btn-warning">HOT!</button>
                                        {{else}}
                                    {{/if}}
                                    {{#if isNew isNew=true}}
                                        <button class="rounded-pill btn btn-primary">NEW</button>
                                        {{else}}
                                    {{/if}}
                                    <div>{{description}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div> 
                    {{/with}}
                </div>
                <div class="card mt-5 mb-5">
                    <div class="card-body text-bg-dark">
                    {{#with subscribe}}
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                  
                    {{#each buttons}}
                    <ul>
                    <button href="{{link}}" class="btn btn-primary">{{text}}</button>
                    </ul>
                    {{/each}}
                    
                    {{/with}}
                    </div>
                </div>
                <hr>
                <div class="card mt-5 mb-5">
                    <div class="card-body text-bg-success">                                
                        <div class="text-center">
                            {{#with service}}
                            <h2>{{title}}</h2>
                            <p>{{description}}</p>
                            {{#each buttons}}
                                <button href="{{link}}" class="btn btn-primary">{{text}}</button>
                            {{/each}}
                            {{/with}}
                        </div>
                    </div>         
                </div>
                <hr>
                <footer>
                    
                        {{#each footer}}  
                        <   
                         <li>{{text}}</li>
                        
                         <p><a href="{{link}}" class="link-primary">{{link}}</a></p>
                       
                        
                        
                        {{/each}} 
                    
                 </footer>         
        </div>
    </div>
               
</main>
        


        
       
    

