<main>
    <section>
        
       
                {{#with navigation}}
                    {{#each links}} 
                        <a href="{{href}}">{{text}}</a>
                    {{/each}}                   
                    {{#with button}}
                        <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                    {{/with}}
                {{/with}}
                <hr>
            {{#with header}}
                <h1>{{title}}</h1>
                <p>{{description}}</p>
                    {{#with button}}
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    {{/with}}
            {{/with}}
            <hr>
                    {{#with city}}
                        <h2>{{title}}</h2>
                        <div class="row row-cols-2">
                            {{#each cards}}
                                    <div class="card">
                                            <img class="card-img-top" src="https://picsum.photos/400/200" alt="{{alt}}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{title}}</h5> 
                                            <a href="{{href}}" class="btn btn-primary">Read</a> 
                                        </div>                                                      
                                    </div>         
                                {{/each}} 
                        </div>         
                    {{/with}} 
            </div>      
            {{#with winner}} 
                <h2>{{title}}</h2>  
                {{#with table}}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th>surname</th>
                                <th>nickname</th>
                            </tr>
                        </thead>
                        {{#each user}}
                        <tbody>
                            <tr>
                                <td>{{place}}</td>
                                <td>{{name}}</td>
                                <td>{{surname}}</td>
                                <td>{{nickname}}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>  
                {{/with}}
            {{/with}}  
            {{#with gallery}}
            <h2>{{title}}</h2>
            <div class="row row-cols-3">
            {{#each cards}}
            
                {{!-- <div class="row"> --}}
                    {{!-- <div class="col-12">   --}}
            
            <div class="card">
                {{!-- <div class="card-header"> --}}
                <div class="card-body">
                    {{!-- <div class="col-12"> --}}
                   <ul class="list-group">
                    <li class="list-group-item" > {{name}}</li>
                    <li class="list-group-item" >{{items}}</li>
                   </ul> 
                   </div>
                   </div>                                        
                {{!-- </div> --}}
            {{!-- </div> --}}
            </div>

            {{/each}}
             {{/with}} 
             <hr>
             {{#with relaxion}}
              <p class="display-3">{{title}}</p>
              <div class="row row-cols-2">
                {{#each cards}}   
                    
                        <div class="card text-bg-secondary">
                             <div class="card-header">{{header}}</div>
                                <div class="card-body">
                                    <h2 class="card-title"></h2>
                                    <div class="card-text">{{description}}</div>
                                </div>               
                        </div>
                   
                {{/each}}
                </div>
             {{/with}}
             <hr>
            {{#with rest}}
            <div class="row row-cols-2">
                {{#each cards}}   
                    <div class="card text">
                        <div class="card-header text-center">{{header}}</div>
                            
                                <div class="card-body text-center">
                                    <h2 class="card-title">{{title}}</h2>
                                    <div class="card-text">{{description}}</div>
                                    <button class="btn btn-primary" >{{button}}</button>
                                </div>               
                            
                        <div class="card-footer text-center">{{footer}}</div>
                    </div>
                {{/each}}
            </div>
             {{/with}}
             <hr>
            {{#with proposition}}
                  <div class="display-2">{{title}}</div>
                    <div class="row row-cols-2">
                        {{#each card}}
                                <div class="card text-bg-warning">
                                <div class="card-header">{{header}}</div>
                                 <div class="card-body">
                                    <div class="card-title">{{title}}</div>
                                    <p class="card-text">{{description}}</p>
                                  </div>   
                                </div>
                        {{/each}}
                    </div>    
            {{/with}}
            <hr>
            <div class="row">
                {{#with footer}}
                        <h5>{{title}}</h5>
                    <div class="col">
                        {{#each navigation}}
                        <ul>
                            <a href="{{href}}"class="btn btn-link-primary">Link</a>
                        </ul>
                        {{/each}}
                    </div>
                    <div class="col">
                        {{#each socialMedia}}
                        <ul>
                            <a href="{{link}}"class="btn btn-outline-dark">{{name}}</a>
                        </ul>
                        {{/each}}
                    </div>
                    <div class="col">
                        {{#each partners}}
                        <ul>
                            <a href="{{link}}"class="btn btn-outline-info">{{name}}</a>
                        </ul>
                        {{/each}}
                    </div>
                {{/with}} 
            </div>     
            
        
    </section>
</main>
