<main>
    <div>
        <ul>
            <div class="card">
                <div class="card-body">
                    {{#with heading}}
                    <div class="card">
                        <div class="card-body">
                            {{#with main}}
                            <div class="display-6">{{title}}</div>
                            <div>{{text}}</div>
                            <br>
                            {{#with button_text}}
                                <button class="btn btn-primary">{{solid}}</button>
                                <button class="btn btn-outline-primary ">{{outline}}</button>
                            {{/with}}
                        {{/with}}
                        </div>
                    </div>
                        <br>
                    <div class="card">
                        <div class="card-body">    
                            {{#with second}}
                                <div class="display-6">{{title}}</div>
                                <div>{{text}}</div>
                                <br>
                                {{#with button_text}}
                                    <button class="btn btn-primary">{{solid}}</button>
                                    <button class="btn btn-outline-primary ">{{outline}}</button>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>                
                        <br>
                    <div class="card">
                        <div class="card-body">
                            {{#with subblock}}
                                <div class="display-6">{{title}}</div>
                                <div>{{text}}</div>
                                <br>
                                {{#with button_text}}
                                    <button class="btn btn-primary">{{solid}}</button>
                                    <button class="btn btn-outline-primary ">{{outline}}</button>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>  
                    {{/with}}
                </div>
            </div>  
            <br>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with nested_display}}
                    
                        <div class="display-1">{{title}}</div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                        {{#with children_display}}
                                            <div class="display-4">{{title}}</div>
                                            <p>{{text}}</p>
                                            {{#with button}}
                                                <button class="btn btn-outline-warning">{{text}}</button>
                                            {{/with}}
                                        {{/with}}
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <br>
                        <br>
                
                        <h6>{{header_text}}</h6>
                            {{#with button}}
                                <button class="btn btn-info">{{text}}</button>
                            {{/with}}
                    {{/with}}
                </div>
            </div>                    
            <br>
            <br>
                <div class="card">
                    <div class="card-body">
                        {{#with paragraph}}
                            <p class="display-6">{{title}}</p>
                                <p>{{text}}</p>
                            {{#with button}}
                                <button class="btn btn-light">{{text}}</button>
                                <a href="{{url}}" class="btn btn-secondary" >url</a>
                            {{/with}}
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-body">
                                    {{#each list_name}}
                                        <li><a href="{{url}}">{{text}} / {{url}}</a></li>
                                    {{/each}}
                                </div>
                            </div>    
                        {{/with}} 
                    </div>
                </div>

        </ul>
    </div>
</main>
